.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #eaf0f6, #f7f9fc);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 90%;
  height: 80%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 15px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.registerLeft {
  flex: 1;
  padding: 20px;
}

.registerLogo {
  font-size: 64px;
  font-weight: 800;
  color: #1877f2;
  margin-bottom: 20px;
  text-align: left;
}

.registerDesc {
  font-size: 20px;
  color: #555;
  line-height: 1.8;
}

.registerRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerBox {
  width: 100%;
  max-width: 450px;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.registerInput {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  font-size: 16px;
  padding: 10px 15px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.registerInput:focus {
  outline: none;
  border: 1px solid #1877f2;
  box-shadow: 0 0 8px rgba(24, 119, 242, 0.3);
}

.registerButton {
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #1877f2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.registerButton:hover {
  background-color: #165dc1;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.registerForgot {
  text-align: center;
  color: #1877f2;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.registerForgot:hover {
  text-decoration: underline;
  color: #165dc1;
}

.registerRegisterButton {
  width: 70%;
  align-self: center;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.registerRegisterButton:hover {
  background-color: #36a420;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
